*{
    padding: 0;
    margin: 0;
}

body {
  
    --main-bg-color: #E7DFD5;
    --nav-bg-color: #3B6978;
    --alternative-bg-color:#84A9AC;
    --extra-color:#204051;
    --neutral-gray:#404040;
    --font-color-white: #f1ebe3;

    font-family: 'Montserrat', monospace;
    background-color: var(--main-bg-color);
    font-size: 16px;
}


footer{
    background-color: var(--extra-color);
}


.logo_size{
    width: 100px;
    height: 100px;
}

.section_announcement_bar{
    background-color: var(--extra-color);
    color: var(--font-color-white);
}

.announcement_bar_message{
    font-size: 0.9rem;
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-center {
    text-align: center;
}
.font-league {
    font-family: 'League Spartan', monospace;
    color: var(--neutral-gray);
    letter-spacing: 3px;
}

.gallery{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
